APP_NAME="D506 API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://d506api4hosp

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dds-506
DB_USERNAME=root
DB_PASSWORD=

DB_CONNECTION_MYSQL2=mysql2
DB_HOST_MYSQL2=
DB_PORT_MYSQL2=3306
DB_DATABASE_MYSQL2=hos-base-demo
DB_USERNAME_MYSQL2=
DB_PASSWORD_MYSQL2=

DB_CONNECTION_SQLSRV=sqlsrv
DB_HOST_SQLSRV=
DB_PORT_SQLSRV=1433
DB_DATABASE_SQLSRV=
DB_USERNAME_SQLSRV=
DB_PASSWORD_SQLSRV=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

HOSP_USER=""
HOSP_PASSWORD=""
HOSP_CODE="41173"
HOSP_NAME="กองระบาดวิทยา"

MOPH_SECRET="$jwt@moph#"
MOPH_TOKEN_URL = "https://cvp1.moph.go.th/token?Action=get_moph_access_token"
MOPH_SEND_506_URL = "https://epidemcenter.moph.go.th/epidem506/api/Send506"

